@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jua: "Jua", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-jua {
  font-family: var(--font-jua);
}

.font-plus {
  font-family: var(--font-plus-jakarta-sans);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jua);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html,
body,
* {
  cursor: url("/cursor-default.svg") 0 0, auto;
}

a, a *,
button, button *,
[role="button"], [role="button"] *,
input[type="button"],
input[type="submit"],
label[for], label[for] *,
select, select *,
summary, summary *,
.cursor-pointer,
.cursor-pointer * {
  cursor: url("/cursor-pointer.svg") 0 0, pointer !important;
}

a:active, a:active *,
button:active, button:active *,
[role="button"]:active, [role="button"]:active *,
input[type="button"]:active,
input[type="submit"]:active,
label[for]:active, label[for]:active *,
select:active, select:active *,
summary:active, summary:active *,
.cursor-pointer:active,
.cursor-pointer:active * {
  cursor: url("/cursor-active.svg") 0 0, pointer !important;
}
