@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-geist-mono: "Geist Mono", SF Mono, SF Mono Regular
  --font-geist-display: "Geist Display", -apple-system, BlinkMacSystemFont, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-geist-display);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
